
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>this is test app</title>
    <!-- <link rel="stylesheet" href="assets/stylesheets/card.css"> -->

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"> -->
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>


  </head>
  <body>
  <div class="tabs">
    <ul>
      <li><a href="">最新投稿</a></li>
      <li><a href="">ランキング</a></li>
      <li><a href="">おすすめ</a></li>
    </ul>
  </div>

  <div id="app">

</div>



  <script>

    // new.Vue({
    //   el: '#app',
    //   data:{
    //     message: 'Hello World!'
    //   }
    // })

  </script>



  </body>


</html>
