<% if @comment.image.attached? %>
  <%= image_tag @comment.image.variant(resize: "200x200") %>

  <div>
    <p>画像のメタデータをここに表示</p>
      <li>コメント：<%= @comment.content %></li>
      <li>撮影日時：<%= @comment.created_at %></li>
      <li>場所：<%= @comment.image.lat %></li>
  </div>

<% end %>
